/* Colors */
/* Font sizes */
/* Fonts */
* { box-sizing: border-box; }

.overlay.show { display: block; }

.overlay { position: absolute; top: 0; left: 0; z-index: 9999; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.5); justify-content: center; align-items: center; overflow: auto; padding: 30px; display: none; }

.modal { max-width: 600px; margin: auto; background-color: #ffffff; position: relative; padding: 30px; display: none; }

.modal.show { display: block; }

.modal .btn-close { position: absolute; top: 0; right: 0; padding: 5px 10px; cursor: pointer; }

body { background-color: #f5f5f2; margin: 0; padding: 0; overflow-y: hidden; }

.container { display: flex; flex-direction: row; justify-content: space-between; max-width: 2000px; min-width: 750px; margin: 0 auto; padding: 0; }

.sidebar { flex: 2; display: flex; flex-direction: column; align-items: center; background-color: #191919; color: #fff; height: 100vh; min-width: 180px; }

.sidebar__logo { display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; }

.sidebar__logo > p { font-family: "Just Another Hand", cursive; font-size: 40px; margin: 10px; margin-right: 20px; }

.sidebar__logo span { font-family: "Just Another Hand", cursive; font-size: 48px; margin: 10px 0; }

#burger-menu { display: none; cursor: pointer; height: 27px; width: 27px; margin: 10px; overflow: visible; position: relative; z-index: 2; }

#burger-menu span, #burger-menu span:before, #burger-menu span:after { background: #fff; display: block; height: 3px; opacity: 1; position: absolute; transition: 0.3s ease-in-out; }

#burger-menu span:before, #burger-menu span:after { content: ""; }

#burger-menu span { right: 0px; top: 0px; width: 27px; }

#burger-menu span:before { left: 0px; top: -10px; width: 16px; }

#burger-menu span:after { left: 0px; top: 10px; width: 20px; }

#burger-menu.close span { transform: rotate(-45deg); top: 0px; width: 27px; }

#burger-menu.close span:before { top: 0px; transform: rotate(90deg); width: 27px; }

#burger-menu.close span:after { top: 0px; left: 0; transform: rotate(90deg); opacity: 0; width: 0; }

.sidebar__list { width: 100%; padding-bottom: 20px; border-bottom: 1px solid #333; }

.sidebar__list i { margin-right: 15px; }

.sidebar__list ul { list-style-type: none; margin: 0; padding-left: 0; }

.sidebar__list ul li { height: 40px; cursor: pointer; display: flex; justify-content: flex-start; align-items: center; padding-left: 15px; border-left: 4px solid transparent; font-size: 16px; color: #9c9c9c; font-family: "Open Sans", Helvetica, Arial; transition: all 0.3s ease-out; }

.sidebar__list ul li.active { border-left: 4px solid #f58220; background-color: #282828; color: #fff; font-weight: 600; }

.sidebar__list ul li:hover { border-left: 4px solid #f58220; background-color: #282828; color: #fff; }

.sidebar__manager { align-self: flex-start; margin-top: 15px; width: 100%; display: block; }

.sidebar__manager h3 { color: #797979; font-size: 12.8px; font-family: "Open Sans", Helvetica, Arial; margin-left: 15px; }

.manager__profile { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin-top: 15px; padding-left: 5px; cursor: pointer; }

.manager__profile:hover { background-color: #282828; }

.manager__profile > * { margin-left: 10px; }

.manager__profile span { width: 45px; height: 45px; margin-top: 5px; margin-bottom: 5px; border-radius: 22.5px; position: relative; background-size: cover; background-image: url("../images/picture_profile_mikhail_k.jpg"); }

.manager__profile span::after { content: ''; width: 12px; height: 12px; display: block; z-index: 1; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; top: 15%; left: 85%; background-color: #04ae00; position: absolute; transform: translate(-50%, -50%); }

.manager__profile a { color: #56819f; text-decoration: none; font-family: "Open Sans", Helvetica, Arial; }

.main { display: flex; flex-direction: column; justify-content: flex-start; flex: 10; }

.main__nav { display: flex; flex-direction: row-reverse; justify-content: flex-start; align-items: flex-end; height: 60px; top: 0; background-color: #fff; margin-bottom: 15px; border: 2px solid #e3e3e3; }

.main__nav--mobile { display: none; }

.main__nav > div { display: flex; align-items: center; padding: 0 20px; height: 100%; border-left: 2px solid #e3e3e3; }

.main__nav i { color: #9c9c9c; font-family: "Open Sans", Helvetica, Arial; font-size: 19.2px; }

.main__nav a { color: #56819f; font-family: "Open Sans", Helvetica, Arial; font-size: 14.4px; text-decoration: none; }

.main__nav a.icon { font-size: 0; }

.main__nav a.profile { margin-left: 15px; }

.main__nav a.wallet { font-size: 20px; font-weight: 700; color: #979797; }

.main__nav i.icon-wallet { margin-right: 10px; }

.main__nav i.icon-arrow-down { font-size: 14.4px; margin-left: 10px; }

.main__nav i.icon-notification { position: relative; }

.main__nav i.icon-notification::after { content: ''; width: 10px; height: 10px; display: inline-block; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; top: 0%; left: 75%; background-color: #f58220; position: absolute; transform: translate(-50%, -50%); }

.main__content { display: flex; flex-direction: column; justify-content: flex-start; align-items: center; margin: 0; padding: 0 1vh; height: calc(100vh - 75px); overflow-y: auto; overflow-x: hidden; }

.content__section { display: flex; flex-direction: column; justify-content: flex-start; align-items: center; box-shadow: -2px -5px 7px 0px #ccc; border-radius: 4px; background-color: #fff; margin: 10px 0 10px; width: 100%; }

.content__section > div { width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; padding: 15px 0; }

.content__section > div::after { content: ''; width: 100%; height: 1px; display: block; bottom: 0%; left: 0%; background-color: #e3e3e3; position: absolute; transform: translate(0%, 0%); z-index: 1; }

.content__section div h2 { align-self: flex-start; font-size: 19.2px; font-family: "Open Sans", Helvetica, Arial; font-weight: 400; display: inline-block; color: #a2a2a2; text-transform: uppercase; padding-left: 20px; margin: 0; }

button { border-radius: 5px; padding: 10px 20px; margin: 15px 0; cursor: pointer; font-size: 24px; line-height: 24px; font-family: "Open Sans", Helvetica, Arial; color: #fff; font-weight: 300; border: 0px solid white; }

button.orange { background-color: #f58220; }

button.orange:hover { background-color: #ffa200; }

button.orange--refresh { padding: 10px 12px; font-size: 16px; line-height: 16px; }

.content__section--general .datepicker { display: flex; flex-direction: row; justify-content: center; align-items: center; }

.datepicker__form { margin-right: 15px; }

.datepicker__form div { display: inline; }

.datepicker__form div:nth-child(1) { border-radius: 5px; border: 2px solid #e3e3e3; padding: 10px; position: relative; border-right: 0px solid #e3e3e3; border-top-right-radius: 0px; border-bottom-right-radius: 0px; padding-right: 0px; }

.datepicker__form div:nth-child(1)::before { content: ''; width: 1px; height: 80%; display: block; z-index: 1; top: 50%; left: 45%; background-color: #e3e3e3; position: absolute; transform: translate(-50%, -50%); }

.datepicker__form div:nth-child(2) { border-radius: 5px; border: 2px solid #e3e3e3; padding: 10px; position: relative; border-left: 0px solid #e3e3e3; border-top-left-radius: 0px; border-bottom-left-radius: 0px; }

.datepicker__form input { border: 0px solid black; width: 120px; font-family: "Open Sans", Helvetica, Arial; }

.datepicker__form input:focus { outline: none; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.datepicker__form input[type="date"]::-webkit-inner-spin-button, .datepicker__form input[type="date"]::-webkit-calendar-picker-indicator { display: none; -webkit-appearance: none; }

.data__stats { display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap; gap: 10px 60px; }

.data__stats > div { width: calc((100% - 62px)*0.45); display: flex; flex-direction: row; justify-content: space-between; border-bottom: 1px solid #e3e3e3; padding: 5px 0; font-family: "Open Sans", Helvetica, Arial; font-size: 12.8px; }

.data__stats > div > span:nth-child(1) { color: #a6a6a6; font-weight: 700; }

.data__stats > div > span:nth-child(2) { text-align: right; }

.data__chart { width: 90%; }

.data__chart > h3 { margin: 40px 0 0; font-size: 14.4px; color: #a6a6a6; font-weight: 700; font-family: "Open Sans", Helvetica, Arial; }

.data__chart > div { padding: 10px; display: flex; flex-direction: row; justify-content: center; }

.data__chart div.img img { width: 100%; }

.button--chart { color: #56819f; font-family: "Open Sans", Helvetica, Arial; font-size: 16px; margin: 5px 15px; padding: 8px 15px 8px 40px; background-color: transparent; border: 1px solid transparent; position: relative; transition: all 0.3s ease-out; }

.button--chart:not(.active):hover { border: 1px solid #e3e3e3; }

.button--chart.active { color: #a6a6a6; background-color: #f3f3f1; }

.button--chart::before { content: ''; width: 16px; height: 16px; display: block; z-index: 1; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; top: 50%; left: 20px; background-color: #000; position: absolute; transform: translate(-50%, -50%); }

.button--chart.signups::before { background-color: #80bfca; }

.button--chart.FTD::before { background-color: #ff9a38; }

.button--chart.earned::before { background-color: #59b66d; }

.content__section--links table { width: 90%; border-collapse: collapse; }

.content__section--links table tr { border-bottom: 1px solid #e3e3e3; }

.content__section--links table tr:hover { background-color: #f1f3f3; }

.content__section--links table td { width: 40%; font-size: 16px; font-family: "Open Sans", Helvetica, Arial; color: #a6a6a6; padding: 24px 0; font-weight: 700; padding-left: 20px; }

.content__section--links table td.icons { width: 20%; padding: 0; text-align: center; }

.content__section--links table td.icons i { font-size: 20px; cursor: pointer; display: none; }

.content__section--links table tr:hover td.icons i { display: inline; }

.content__section--links i.icon-links { color: #f58220; margin-right: 15px; }

.content__section--links table td a { text-decoration: none; color: #56819f; font-weight: 400; }

/* width */
::-webkit-scrollbar { width: 7px; }

/* Track */
::-webkit-scrollbar-track { background: #ccc; }

/* Handle */
::-webkit-scrollbar-thumb { background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #555; }

/* Media queries */
@media screen and (max-width: 800px) { .container { flex-direction: column; justify-content: flex-start; width: 100%; min-width: 400px; height: 100vh; margin: 0; padding: 0; }
  #burger-menu { display: block; margin-right: 30px; }
  .sidebar { max-height: 70px; }
  .sidebar.close { max-height: 100vh; }
  .main__nav { display: none; }
  .main { height: calc(100vh - 80px); }
  .content__section { width: 100%; }
  .sidebar__logo { justify-content: space-between; width: 100%; }
  .sidebar__list { display: none; }
  .sidebar.close .sidebar__list { display: block; }
  .sidebar__manager { display: none; }
  .sidebar.close .sidebar__manager { display: block; margin-bottom: 20px; }
  .sidebar.close .main__nav--mobile { display: flex; width: 100%; justify-content: center; }
  .sidebar__logo > p { margin-left: 30px; margin-right: 5px; } }

@media screen and (max-width: 520px) { .main__nav--mobile > div { width: 30px; justify-content: center; }
  .main__nav--mobile > div:nth-child(1) { width: 30px; justify-content: center; border-right: 2px solid #e3e3e3; }
  .main__nav--mobile a.profile { display: none; }
  .main__nav--mobile a.wallet { font-size: 0; }
  .main__nav--mobile i { transform: scale(1); transition: all 0.3s ease-out; display: block; }
  .main__nav--mobile i:hover { display: block; transform: scale(1.2); transition: all 0.3s ease-out; color: #56819f; }
  .main__nav--mobile a.wallet i.icon-wallet { font-size: 20px; margin: 0; }
  .main__nav--mobile a.wallet i.icon-arrow-down { display: none; } }

@media screen and (max-width: 400px) { .main { display: none; }
  #burger-menu { display: none; } }
