body {
  background-color: $color-body-background-light;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.sidebar {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: $color-sidebar-background-dark;
  color: $color-white;
  height: 100vh;
}

// .sidebar__logo {
//   height: 2rem;
//   top: 0;
//   position: sticky;
// }

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 10;
}

.main__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: red;
  z-index: 1;
  height: 8vh;
  top: 0;
  position: sticky;
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: blue;
  margin: 2vh;
  box-shadow: -5px -10px 20px -5px #999;
  height: 88vh;
}
