body {
  background-color: $color-body-background-light;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: $color-sidebar-background-dark;
  color: $color-white;
  width: 200px;
  height: 100vh;
  position: fixed;
}

// .sidebar__logo {
//   height: 2rem;
//   top: 0;
//   position: sticky;
// }

.main {
  position: absolute;
  left: 200px;
  width: 800px;
}

.main__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: red;
  z-index: 1;
  height: 50px;
  top: 0;
  position: fixed;
  width: 800px;
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: blue;
  top: 50px;
  margin-top: 0px;
  position: absolute;
  box-shadow: -5px -10px 20px -5px #999;
}
